* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: helvetica, arial, sans-serif;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    width: 1105px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.3;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 5px black;

}

#nav {
    display:inline;
    
}

#nav > li{
    display: inline;
}

#nav li {
    position: relative;
    
}

#nav li a {
    float: right;
    display: block;
    color: black;
    line-height: 1.5;
    text-decoration: none;
    padding: 16px 16px;
    letter-spacing: 4px;
    font-family: "Times New Roman", Georgia, Serif;
    
}


#nav li:hover > a {
    background-color: #ccc;
}


/* //////////////////////////////////// */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/hamburger.jpg) top center / cover no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 85%;

    
}


#slider .text_content {
    position: absolute;
    bottom: 30px;
    color: black; 
    width:100%;
    text-align: left;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: "Times New Roman", Georgia, Serif;
    padding-left: 16px;
    line-height: 1.5;
    opacity: 0.6;
}


#slide .text_header {
    
    display: block;

}



/* ////////////////////////////// */

#content {

}

#content #About {
    width: 1105px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
}

#content .img_about  {
    width: 50%;
    height: auto;
    
}

#content #about_text {
    width: 50%;
    float: right;
    padding: 12px 24px;
}

#content .about_heading {
    margin: 10px 0px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 36px;
}

#content .about_name {
    margin: 10px 0px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 15px;
}

#content .about_text1 {
    margin: 18px 0px;
    font-size: 18px;
    line-height: 1.5;

}

#content .about_text2 {
    opacity: 0.6;
}

/* /////////////////////////////////////////// */
#content #Menu {
    width: 1105px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
    height: 884px;
    
}

#content .img_menu {
    width: 50%;
    height: 752px;
    float: right;
}

#content .menu_text
{
    width: 50%;
    padding: 12px 24px;
    
}

#content .menu_name {
    margin: 20px 0px;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.5;
    font-weight: 400;
}

#content .menu_des {
    margin-top: 15px;
    margin-bottom: 52px;
    font-size: 15px;
    color: #757575;
    line-height: 1.5;

}

/* //////////////////////////// */

#content #Contact {
    width: 1105px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
    
}

#content .contact_des {
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.5;
}

#content .contact_address {
    color:#607d8b;
    font-size: 18px;
}

#content .contact_input {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

#content .bt_contact {
    color: black;
    background-color: #f1f1f1;
    border: none;
    font-size: 15px;
    padding: 16px 24px;
    margin: 15px 0px;
}


#content .bt_contact:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

/* /////////////////////////////// */
#content #Footer {
    background-color: #f1f1f1;
    width: 100%;
    padding: 32px 0px;
}

#content .text_footer {
    color: black;
    text-align: center;
}