:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    opacity: 0.9;
}

button:hover {
    opacity: 0.9;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px !important; 
}

.mt-16 {
    margin-top: 16px !important; 
}

.mt-32 {
    margin-top: 32px !important; 
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border:none;
    text-align: center;

}

.btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-full {
    width:100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

